
.auction {
    display: flex;
    background-color: white;
    justify-content: stretch;
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    
}
.info-container {
    display: flex;
    flex-direction: column;
    flex:1 0 0;

}
.personalInfo{
    display: flex;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid grey;

}
.personalInfo>p>svg{
    fill: black;
}
.personalInfo>p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.boldText{
    font-weight: 600;
}

.image{
    display: flex;
    align-items: center;
 
}
.image>img{
    height: 150px;
}
.briefInfo{
    text-align: left;
    
    padding-left: 10px;
}
.comp{
    font-size: small;
    font-weight: 600;

}
.wrapper{
    
}

@media (max-width:500px) {



}

@media (orientation:landscape) and (max-width:500px){



}
