
.auction-container{
    height: 25%;
    width: 80%;
    display: flex;
}

.auction {
    border: 10% solid black;
    border-radius: 20%;
    text-align: right;
    display: flex;
    
}
.image{
    
}
.briefInfo{
    margin-bottom: 5px;
    text-align: right;


}
.h4 p{
    margin: 0;
    padding: 0;
}
.btn{
    display: flex;

}
.btn button{
    padding: 0,9rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin: 0,5rem;
}
.btn button:hover{
    background-color: whitesmoke;
}
