.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgb(184,198,195);
    color: black;
}

.footer h2{
    font-size: x-large;
}

svg {
    fill: black;
}