.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #F5C413;
    color: #022A79
}

.footer h2{
    font-size: x-large;
}