.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
}

.footer h2{
    font-size: x-large;
}

svg {
    fill: white;
}