
header {
    background-color:  rgb(184,198,195);
    height: 90px;
    margin: 0px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

header h1 {
    color: black;
    margin: 0px;
    font-size: 50px;
}

.header-nav {
  display: flex;
  margin-right: 2%;
  align-items: center;
}
.header-nav button {
  margin: 10px;
  cursor: pointer;
}

.burger-menu {
  font-size: 45px;
  margin-left: 5px;
  cursor: pointer;

}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

header div {
  display: flex;
  align-items: center;
}