
header {
    flex: 0 0;
    height: 50px;
    margin: 0px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

header h1 {
    color: white;
    margin: 0px;
    line-height: 100%;
    font-size: 200%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav button {

  cursor: pointer;
}

.burger-menu {
  font-size: 45px;
  margin-left: 5px;
  cursor: pointer;
  fill: white;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

header div {
  display: flex;
  align-items: center;
}
