.sortbar-form{
    min-height:8vh;
    width: 100%;
    border-top: 1px solid grey;
    background-color: rgb(184,198,195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

select, input{
    outline: none;
    border: none;
    height: 25px;
}

.search-input:focus{
    outline: 1px solid grey;
}

@media (max-width:500px) {

    .search-input, .search-button, .filter-competence, .sort{
        font-size: 0.5rem;
    }
}

@media (orientation:landscape) and (max-width:500px){
    .search-input, .search-button, .filter-competence, .sort{
        font-size: 0.7rem;
    }
}




