.sortbar-form{
    min-height:8vh;
    width: 100%;
    border-bottom: 1px solid rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#sort, #filter-competence{
    outline: none;
    border: none;
    height: 25px;
}

#search-input:focus{
    outline: 1px solid grey;
}

@media (max-width:500px) {

    #search-input, #sort, #filter-competence {
        font-size: 0.5rem;
    }
    #search-input{
        margin-left: 5px;
        width: 25%;
    }
}

@media (orientation:landscape) and (max-width:500px){
    #search-input, #sort, #filter-competence{
        font-size: 0.7rem;
        
    }

    .button-element{
        
    }
 
}




