.about-us{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    color: #022A79;
}

.about-us h2{ 
    display: flex;
    justify-content: center;
    font-size: large;
}

.about-us h3{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}

.about-us p{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}
