.about-us{
    padding: 50px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    padding: 20px 60px;
}

.about-us h2{ 
    display: flex;
    justify-content: center;
    font-size: large;
}

.about-us h3{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}

.about-us p{ 
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
}

@media (max-width:420px) {

    .about-us h2{
        margin:auto;
        position: relative;
    }
    
    .about-us h3{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .about-us p{
        margin:auto;
        position: relative;
        text-align: center;
    }

}