.about-us{
    padding: 50px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    padding: 20px 60px;
}

.about-us h2{ 
    display: flex;
    justify-content: center;
    font-size: large;
}

.about-us h3{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}

.about-us p{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}
