.add-auction-page{
    font-size: 1.5rem;

}
.add-auction-container{
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
}
.add-auction-form{
    height: 100%;
    width: 100%;
    display: flex;
}

.form-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.add-auction-image{
    height: 30%;
    width: 50%;
    margin-top: 60px;
    border-radius: 5px;
}

.competence-container{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

#competence-button{

    height: 25px;
    width: 25px;
    background-image: rgb(28,36,53);
    margin:10px;
    box-shadow: 5px 5px 5px rgb(28,36,53);
}

.form-mid-side{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
}

.form-right-side{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.add-input-container{
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.add-input-container>input{
    width: 40%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(28,36,53);
}
.add-upload-container{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.add-upload-container>label{
    width: 50%;
}

#upload-cv, #upload-other{
    font-size: 80%;
    width:42%;
    
    
}
.add-button-container{
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 20px 20px 0px;
}
#add-auction-button{
    font-size: 2rem;
    background-color: rgb(28,36,53);
    color: white;
    border-radius: 10px;
    padding: 2px;
    
}
#add-auction-button:hover{
    color: rgb(28,36,53);
    background-color:white;
    border-color: rgb(28,36,53);
    cursor: pointer;
}
.comment-container{
    margin-top: 51px;
    height: 50%;
    display: flex;
    justify-content: center;
}
.comment{
    height: 80%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(28,36,53);
}
.comment:active{
    font-size: 0.5rem;
}



@media (max-width:1100px){
    .add-auction-page{
        font-size: 1.0rem;
    
    }

}
@media (max-width:800px){
    .add-auction-page{
        font-size: 0.8rem;
    
    }
    .competence-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .competence{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #add-auction-button{
        font-size: 1rem;
    }
    .add-auction-image{
        height: 20%;
        
    }
}

@media (max-width:500px) {
    .add-auction-page{
        font-size: 0.5rem;
        
    
    }
    label{
        display:flex;
        align-items:center;
    }
    .add-button-container{
        padding: 0px 10px 20px 0px;
    }
    .add-auction-image{
        height: 15%;
        
    }
}

@media (orientation:landscape) and (max-width:500px){
 
}
 

