.add-auction-page{
    display:flex;
    justify-content: center;
    align-items: center;

}

.add-auction-container{
    height: 80%;
    width:80%;
    border: 5px solid rgb(2,42,121, 0.3);
    border-radius: 50px;

}

.add-auction-form{
    display: flex;
    font-size: 1.5rem;
    color:white;
    height:100%;

}

.add-input-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    font-size: 15px;
    
}
.add-input-container>input , label{
    height: 70%;
    width: 80%;
}


.form-left-side{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-auction-image{
    margin: 30px 0px 30px 0px;
    height: 40%;
    width: 50%;
    border-radius: 50%;
}

.competence-container{
    width: 60%;
    font-size: 0.7rem;
    border: none;
    padding: 0.2rem;
}

.form-mid-side{
    padding: 30px 30px 0px 0px;
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.form-right-side{
    padding: 30px 25px 0px 0px;
    height: 100%;
    width: 33%;    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.add-upload-container{
    height: 10%;
    width: 100%;
    font-size: 0.85rem;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.add-upload-container>label{
    width: 45%;
}

#upload-cv{
    width: 43%;
}
#upload-other{
    width: 43%;
}


@media (max-width:500px) {
    .add-auction-image{
        margin: 30px 0px 30px 0px;
        height: 30%;
        width: 80%;
        border-radius: 50%;
    }

    .competence-container{
        font-size: 0.5rem;
        width: 90%;
    }
    .form-mid-side{
        padding: 30px 10px 0px 0px;
        height: 100%;
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .add-input-container{
        display:flex;
        flex-direction: column;
        font-size: 0.5rem;
        margin-bottom: 5px;
    }

    .add-upload-container{
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        margin-bottom: 5px;
        height: 50%;
    }
    .add-upload-container>label{
        width:100%;
    }
    
    
    .form-right-side{
        padding: 30px 10px 0px 0px;
        height: 100%;
        width: 33%;    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #upload-cv{
        
    }
    #upload-other{

    }

}

@media (orientation:landscape) and (max-width:500px){

 
}
