.auction-page {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: stretch;
}

#auction-top-div {
  display: flex;
  gap: 16px;
}

#auction-top-left-div {
  width: 250px;
}

#auction-top-right-div {
  flex-grow: 1;
}

#auction-top-right-div>h2 {
  font-size: 300%;
  margin: 16px 0 24px;
}

.leading-offer {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}
.end-time {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}
.buy-out {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}
.lowest-offer-tomake {
  margin: 24px 0 8px 0;
}
.bid-container {
  display: flex;
  gap: 16px;
}
.bid-container>input {
  border: none;
  padding: 2px;
  align-items: center;
}
.bid-container>input:focus {
  outline: none;
}
.bid-container>* {
  width: 100px;
}
.bid-container>button {
  border: none;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}
.bid-container>button:hover {
  background-color: rgb(228, 228, 228);
}

.description-container {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-container {
  resize: none;
}

.question-textarea {
  border: none;
}

.question-input:focus {
  outline: none;
}

.question-button {
  border: none;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-button:hover {
  background-color: rgb(228, 228, 228);
}