#become-a-member-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.become-a-member-background {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    width: 1000px;
    padding: 40px 100px;
    
}

.info-wrapper {
display: flex;
}

.become-a-member-background h1 {
    text-align: center;
    margin: 0 auto 10px;

}
.submit-button-div{
    text-align: center;
    
}

.submit-button-div input {
    margin: 5px;
}

.submit-button {
    height: 50px;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
}

.terms-label {
    font-size: 13px;
}

.skills-I-have-form h3 {
 margin: 0px;
}

.create-acc-with-other p {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.column-div {
    width: 50%;
}

.competences-div h3 {
    margin: 0px ;
    margin-bottom: 2px;

}

.competences-div div {
    margin: 2px;
    
}

.create-acc-with-other .login-with-other {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.other-info-field {
    height: 50px;
}

.company-or-person-div {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    padding: 5px;
    
}
.company-or-person-div div {
    margin-left:  5px;
}

@media (max-width:850px) {
    
    .become-a-member-background {

        max-width: 500px;
        margin: 0px;
        padding-left: 2px;
        padding-right: 2px;
        
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .info-wrapper div {
        margin: 5px;
    }

    .create-acc-with-other .login-with-other {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .company-or-person-div  {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .submit-button-div {
        display: flex;  
        flex-direction: column;
        align-items: center;
        
    }
    .submit-button-div div {
        width: 200px;
        overflow: auto;
    }

    .competences-div {
      
        padding-left: 10px;
    }
}

@media (max-width:500px) {


    .company-or-person-div div {
        display: flex;
        align-items: center;
        margin: 2px;
    }
    .company-or-person-div div input {
        margin: 5px;
    }

    .competences-div div {
        margin: 0px;
    }
    .competences-div div div {
        display: flex;

    }

    .info-wrapper {
        align-items: left;
    }
    .become-a-member-background {
        width: unset;
    }

    .become-a-member-div {
        align-items: unset;
    }
   





}

