.FAQ{
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    color: black;
}

.FAQ h2{ 
    display: flex;
    justify-content: center;
    font-size: large;
}

.FAQ h3{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}

.FAQ p{ 
    display: flex;
    justify-content: center;
    font-size: medium;
}