.user-page-info {
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.user-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    padding: 20px 60px;
    max-width: fit-content;
}

.user-page-container {
    align-items: flex-start;
}

.user-page-top {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-page-pictures {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
}

.userBackgroundPicture {
    display: flex;
    position: relative;
    top: -30px;
    left: 0;
    border-radius: 25px 25px 0 0;
}

.profile-picture {
    margin: 1px;
    border-radius: 10px;
    height: 250px;
    position: absolute;
    top: 50px;

}

.user-profile-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
}

.user-bio {
    max-width: 500px;
}

.previous-commisions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}

.auction-history-container {
    border-radius: 5px;
    width: 483px;
    height: 244px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px 40px 15px;
}

.hiring-company {
    position: absolute;
    height: 244px;
    width: 175px;
    background-color: aliceblue;
    bottom: 0;
    left: 0px;
}

.hiring-company-text {
    padding:0;
    margin:10px 0 10px 15px;
    font-size: 13;
    font-weight: bold;
    color: rgb(6, 7, 7);
}